#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
  min-width: 240px; /* Adjusted width */
  max-width: 300px;
  color: #333;
  background-color: #f9f9f9;
}

.App-header {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

h4 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 8px 0;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: #d9534f; /* Bootstrap danger color */
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 4px;
  background-color: #f2dede; /* Lighter red background */
  border: 1px solid #ebccd1;
}

.footer, .footer-error {
  font-size: 0.8rem;
  padding: 12px;
}

.footer p, .footer-error p {
  margin: 0 0 8px 0;
}

.footer-error {
  background-color: #fdf2f2;
  border-top: 1px solid #fbebeb;
}

.footer-error code {
  background-color: #eee;
  padding: 3px 6px;
  border-radius: 4px;
  font-family: monospace;
}


